
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Repard Farms Website">

    <title>Repard Farms &ndash; All Natural Grass Fed Beef</title>


    <link rel="stylesheet" href="/css/pure-min.css">
    <! TODO: get css? >
    <link rel="stylesheet" href="/css/base.css">

    <! TODO: choose font >
    <script src="http://use.typekit.net/gis6vng.js"></script>
    <script>
        try { Typekit.load(); } catch (e) {}
    </script>

    <! TODO: setup google analytics >
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-41480445-1', 'purecss.io');
        ga('send', 'pageview');
    </script>
</head>

<body>

    {{ content }}

    <! TODO: modify footer >
    <div class="footer">
        <p class="l-box">
            Contact Us: <a href="tel:5852167870">(585) 216-7870</a> | <a href="mailto:repardfarms@gmail.com">repardfarms@gmail.com</a> | <a href="http://maps.google.com/?q=Bloomfield%20NY,%2014469">Bloomfield, NY</a>
        </p>
    </div>

</body>
</html>
